{% extends 'base.html' %}

{% block content %}
  <h2>Ro'yxatdan o'tish</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password1.label_tag }}
    {{ form.password1 }}
    {{ form.password2.label_tag }}
    {{ form.password2 }}
    {{ form.first_name.label_tag }}
    {{ form.first_name }}
    {{ form.last_name.label_tag }}
    {{ form.last_name }}
    {{ form.email.label_tag }}
    {{ form.email }}
    <label for="{{ form.age.id_for_label }}">Yosh:</label>
    {{ form.age }}
    <label for="{{ form.republic.id_for_label }}">Respublika:</label>
    {{ form.republic }}
    <label for="{{ form.region.id_for_label }}">Viloyat:</label>
    {{ form.region }}
    <label for="{{ form.district_or_city.id_for_label }}">Tuman/shahar:</label>
    {{ form.district_or_city }}
    <label for="{{ form.street.id_for_label }}">Ko'cha:</label>
    {{ form.street }}
    <label for="{{ form.house_number.id_for_label }}">Uy raqami:</label>
    {{ form.house_number }}
    <label for="{{ form.apartment_number.id_for_label }}">Xonadon raqami:</label>
    {{ form.apartment_number }}
    <label for="{{ form.postal_code.id_for_label }}">Pochta indeksi:</label>
    {{ form.postal_code }}
    <button type="submit">Ro'yxatdan o'tish</button>
  </form>
{% endblock %}
